<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big lista de movie</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <span id="spanTitulo">Listaço de Filmes</span>
        </div>
        <div class="input">
            <form action="/create" id="formulario" method="post">
                <input type="text" placeholder="Digite um filme" name="filme" id="filme">
                <input id="submit" type="submit" value=">">
            </form>
        </div>

        <ul>
            <% filmeList.forEach((filme)=> { %>
                <li>
                    <%= filme.filme %> | <%= filme.date.toLocaleDateString('pt-BR') %>
                </li>
            <% }) %>
        </ul>

    </div>

    <script src="script.js"></script>
</body>

</html>